<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat for support</title>
    <link href="../static/styles_and_script/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>    
<div id="welcome"><h1>Customer Support Chatbot</h1></div>
<main>
<ul>
    <li >
        <a href="/chat_history" class= "generate-boxes" id="generate"><span>Previous chats</span> </a>
    </li>
    <li>
        <a href="/current_chat" class= "generate-boxes"  id="gif"><span>Chat with the bot</span></a>
    </li>
    <li>
        <a href="/info" class= "generate-boxes"  id="gif"><span>General</span></a>
    </li>
    
</ul>

</main>

<script src="../static/styles_and_script/script.js"></script>
 
    
</body>
</html>