<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat for support</title>
    <link href="../static/styles_and_script/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>    

    <h1 id="title"><b>Customer Support Chatbot</b></h1>
    <a href="/current_chat" class="button-link"><div class="button-div"><p>Chat!</p></div></a>
    

<div id="main-div">
   
    <h2 id="general-info"><b>General info</b></h2>
    <p id="info-description">Customer support chatbot that can answer questions about 7 domains: <b>restaurant, hotel, attraction, taxi, train, hospital and police</b></p>
    
</div>
 
    
</body>
</html>